@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
    /* colors */
    --color-theme-gray: #6b7d7d;
    --color-theme-succulent: #8EAF9D;
    --color-theme-dark-succ: #7D968D;
    --color-tiffany-blue: #A6D8D4;

    /* fonts */
    --font-title: "Radley", serif;

    /* images */
    --resume-bg: url("../../public/bama_hills.jpg")

    /* animations */
    --animate-rock: rock 5s ease-in-out infinite;
    @keyframes rock {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}